<section>
  <div>
    <h2>404 - Not found</h2>
    <p>お探しのページは見つかりません。</p>
  </div>
  <a href="/">トップページに戻る</a>
</section>

style {
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
