<footer.container>
  <small>Copyright &copy; <a href="https://github.com/Ryoga-exe">Ryoga.exe</a></small>
</footer>

style {
  footer {
    width: 100%;
    margin-block-start: auto;
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 1px solid var(--border);
    color: var(--muted);

    small {
      font-size: 0.875rem;
    }
  }
}
